.wrapper{
    margin:auto;
    width:353px;
}


.task,.newtask{
    border-radius: 10px;
}

.login, .pass{
    margin-top:8px;
    margin-left:0!important;
    margin-right:8px!important;
}

.auth,.authin{
    padding-left:0;
}

.authin *{
    display:inline-block;
}

.auth-form{
    margin-bottom:0;
}

.container-sm{
    margin-top:0px!important;
}

.row{
    padding-bottom:5px;
}

.error_msg{
    margin-left: 10px;
    color:red;
    font-weight: bold;
}

.task{
    font-family:'Play',serif;
}

.ul-pag{
    margin-bottom:8px;
}

.task_id{
    display:none;
}

.t_label{
    display:none;
}

.newtask form{
    padding-top:15px;
}

.newtask textarea{
    resize:none;
    height:150px;
}

.edited{
    font-size:8pt;
    margin-left:20px;
}

.task .taskstatus{
    display:inline-block;
    padding:3px 15px;
    border-radius: 10px;
}

.task .taskdate{
    font-size:8pt;
}

.sortingType,.sortingOrder{
    padding-left:3px;
    padding-right:3px;
    margin-left:0px;
    margin-right:0px;
}

.pagination{
    padding-right:3px;
    margin-left:0px;
    margin-right:0px;
}